@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400');

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
/* ----------- CSS Reset ----------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, img, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* ----------- MAIN GRID ----------- */

body {
color: white;
font-family: "Lato";
}
#page {
  display: grid;
  grid-template: "head head nav nav"
                 "main main main main"
                 "about about about about"
                 "art art art art"
                 "foot foot foot foot"
}

header {
  grid-area: head;
  height: 15vh;
  z-index: 1;
}

nav {
  grid-area: nav;
  height: 15vh;
  color: white;
  z-index: 1;
}

main {
  grid-area: main;
  height: 75vh;
  z-index: 1;
}

aside {
  grid-area: about;
  height: 100vh;
  background-color: #F7F7F8;
}


article {
    grid-area: art;
    height: 100vh;
}

/* ----------- ABOUT GRID ----------- */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  grid-template-areas:
  "abt  abtIMG"
}

.abt {
  grid-area: abt;
}
.abtIMG {
  grid-area: abtIMG;
  background: url("https://raw.githubusercontent.com/w-gluza/portfolio/master/images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* ----------- PROJECTS GRID ----------- */

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  grid-template-areas:
  "a a  b c"
  "a a  d e"
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}

.item2, .item3, .item4, .item5 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item1 {
  background: white;
}
.item2 {
  background: url("https://raw.githubusercontent.com/w-gluza/portfolio/master/images/norrmadeLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.item3{
  background: url("https://raw.githubusercontent.com/w-gluza/portfolio/master/images/curriculumLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.item4{
  background: url("https://raw.githubusercontent.com/w-gluza/portfolio/master/images/plearthLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.item5 {
  background: url("https://raw.githubusercontent.com/w-gluza/portfolio/master/images/petrogradLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsIconsContainer{
  padding-top: 73%;
  }
.projectsIcon{
  width: 1.5em;
  height: auto;
}

/* ----------- OVERLAY PROJECTS ----------- */

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F7971B;
}

.container:hover .overlay {
  opacity: 1;
}

.projectName {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* ----------- FOOTER GRID ----------- */

footer {
grid-column: foot;
height: 100vh;
}

.footerNested{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  height: 100vh;
}


canvas {
  z-index: -10;
  position: absolute;
}

/*----------- NAVIGATION -----------*/
nav {
  width: 90%;
  padding: 50px 0;
  margin: 0 auto;
  padding: 1.5em;
}
nav ul {
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-family: "Lato";
  padding: 0.4em;
  font-size: 1.4em;
  font-weight: 300;
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .3s;
}
nav ul li a:hover {
  color: #aaa;
}
/*----------- NAVIGATION STROKE-----------*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


/*----------- HEADING -----------*/

header {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  padding: 0.8em;
}

.logo {
    width: 30%;
    align-content: center;
    position: relative;
    top: 20%;
    padding-top: 5%;
    left: 35%;
  }

  /* ----------- ARTICLE ASIDE HEADER ----------- */

.header {
  color:#3a3a52;
  margin-left: 25%;
  font-size: 4em;
  z-index: -40;
  display: inline-block;
}

.headerUnderline {
    font: 55px sans-serif;
    font-weight: 700;
    margin-top: 30px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing:-0.01em
}

.headerUnderline:before {
    border-top: 20px solid #F7971B;
    opacity: 0.7;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 20px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
    margin-left: 0%;
}

/* ----------- PARAGRAPHS STYLING ----------- */

.paragraph{
  font: 24px sans-serif;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  margin-left: 25%;
  margin-right: 6%;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.3;
  color:#020111;
  opacity: 0.6;
}


/* ----------- FOOTER STYLING ----------- */
.footerNested{
  color: #d4d4dc;
  font-weight: 300;
}
.hi, .mail, .phone {
  padding-left: 5vh;
  padding-top: 35vh;
  background-color: #1d1e22;
}
.mail, .phone, .overlap {
  font-size: 1.4em;
  font-weight: 300;
}

.hi{
  font-size: 2em;
}

.map {
  color: #1d1e22;
  position: relative;
}
.overlap{
  position: absolute;
  z-index:2;
  left: 5vh;
  top:35vh;
}

.footerData {
  color: #feda6a;
}

.social {
    padding-top: 35vh;

}
.iconSocial {
    height: 50px;
    width: auto;
    padding-right: 5px;
}

a:link, a:visited {
  text-decoration: none;
}



/* ----------- Mobile ----------- */

@media (max-width: 768px){

  html, body, .logo, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, img, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

/* ----------- MAIN GRID MOBILE ----------- */

  #page {
    display: grid;
    grid-template:
                   "main"
                   "about"
                   "art"
                   "foot"
  }
  header, nav, .about{
    display: none;
  }

main {
height: 100vh;
}

aside {
  height: 200vh;
}

article {
  height: 334vh;
}

.item1 {
  height: 100vh;
}
.item2, .item3, .item4, .item5 {
  height: 50vh;
}

footer {
  height: 100vh;
}



.logo {
  width: 60vw;
  height: auto;
  left: 0%;
  padding: 20%;
  }

  /* ----------- ABOUT GRID MOBILE ----------- */

  .about-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "abt"
    "abtIMG"
  }

  .abt{
    height: 100vh;
  }
  .abtIMG{
    height: 100vh;
  }
  /* ----------- PARAGRAPH / HEADER ADJUSTING MOBILE ----------- */

  .header {
    margin-left: 10%;
  }

  .paragraph{
    margin-left: 10%;
    margin-right: 10%;
  }
/* ----------- PROJECTS GRID MOBILE ----------- */

  .projects-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
  }
  .container {
    height: 50vh;
    width: 92vw;
    margin-bottom: 2vh;
  }

  .item2, .item3, .item4, .item5 {
  background-size: cover;
  } 

  .projectsIconsContainer{
    padding-top: 53%;
    }


   .footerNested{
    display: grid;
    grid-template:
    "hi"
    "phone"
    "mail"
    "map"

  }

.hi, .mail, .phone {
  padding-left: 5vh;
  padding-top: 5vh;
}
.overlap {
  display: none;
}
.social {
  display: none;
} 


}
